[Unit]
Description=TeslaScraper Archive

[Service]
User=alarm
Group=alarm
Type=simple
WorkingDirectory=/home/alarm/scraper
ExecStart=sh -c "/usr/bin/ts-node -T main.ts archive | tee -a /var/log/scraper/main.log"