[Unit]
Description=TeslaScraper Upload timer
After=network-online.target
Wants=network-online.target

[Timer]
OnBootSec=1m
OnUnitActiveSec=1m

[Install]
WantedBy=timers.target