[Unit]
Description=TeslaScraper Upload timer
After=network-online.target
Wants=network-online.target

[Timer]
OnBootSec=5m
OnUnitActiveSec=5m

[Install]
WantedBy=timers.target