[Unit]
Description=TeslaScraper Archive timer
After=network-online.target
Wants=network-online.target

[Timer]
OnBootSec=2m
OnUnitActiveSec=30m

[Install]
WantedBy=timers.target